@font-face { font-family: GilroyBold; src: url('fonts/Gilroy-ExtraBold.otf'); } 
@font-face { font-family: GilroyLight; src: url('fonts/Gilroy-Light.otf'); } 

* {
  font-family: 'GilroyLight';
}

body {
  background-color:white;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.complimentary-text {
  color: darkgray;
}

.section-center {
  align-self: center;
  text-align: center;
}

.section-left {
  align-self: left;
  text-align: left;
}

.section-right {
  align-self: right;
  text-align: right;
}

.icons {
  font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.round {
  border-radius: 50%;
}

.bold {
  font-family: 'GilroyBold';
}

.btn-rounded {
  border-radius: 40px;
  padding: 1rem;
  width: 8rem;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
}

.contact-img {
  width: 100px;
}

@keyframes expand {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.contact-img:hover {
  animation: expand;
  animation-duration: 1s;
}
