@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  background-color: #F5F5F5;
}

.about-section {
  background-color: #212529;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.icons {
  font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.round {
  border-radius: 50%;
}

.footer {
    display: none;
}

.sidebar {
    width: 200px;
    background-color: #363D45;
    position: fixed;
    height: 100%;
    overflow: auto;
  }


  .sidebar a {
    display: block;
    color: #E8C547;
    padding: 16px;
    text-decoration: none;
    font-family: "Alexandria";
  }
  
  .sidebar a:hover:not(.active) {
    color: #4D5061;
  }
  
  div.content {
    margin-left: 200px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .social-links {
        display: none;
    }
    .footer {
        display: initial;
    }
  }
  
  @media screen and (max-width: 500px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .social-links {
        display: none;
    }
    .footer {
        display: initial;
    }
  }


